<Layouts.app flash={@flash}>
  <.header>Hello, world</.header>
  <ul>
  <%= for folder <- @folders do %>
    <li><%= folder %></li>
  <% end %>
  </ul>

  <ul>
  <%= for file <- @files do %>
    <li><%= file %></li>
  <% end %>
  </ul>
</Layouts.app>